.logo {
  height: 32px;
  width: auto;
  object-fit: contain;
}

.fd-popover-custom {
  margin: 3px;
}

/* 🔥 CLICK */
.ms-square-btn:active {
  background: var(--gray-200);
}

/* 🔲 GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 24px;
  padding: 20px;
  width: auto;
  max-width: 600px;
}

/* 🧩 TARJETA */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--transition-normal);
}

/* 🔥 HOVER (como tu imagen) */
.product-card:hover {
  background: var(--gray-100);
}

/* 👤 USER MENU */
.user-name {
  color: var(--gray-600);
  font-weight: 600;
}

.user-email {
  color: var(--gray-500);
}

.user-role {
  color: var(--primary);
}

/* 🪟 POPOVER */
fd-popover-body {
  margin-top: 10px; /* separa del botón */
  box-shadow: var(--shadow-xl);
  background: #fff;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fd-product-switch__icon {
  color: var(--primary);
}

@media (max-width: 768px) {
  .product-grid {
    display: flex !important;
    flex-direction: column !important;
    gap: 0;
    padding: 0;
  }

  .product-card {
    flex-direction: row; /* 👈 SOLO AQUÍ cambia */
    align-items: center;
    justify-content: flex-start;

    padding: 14px 16px;
    border-radius: 0;
    border-bottom: 1px solid var(--gray-200);
  }

  .product-text {
    align-items: flex-start;
  }

  .product-title,
  .product-subtitle {
    text-align: left;
  }
  .fd-product-switch__text {
    text-align: left;
  }
}

/* CONTENEDOR CORRECTO DE ACCIONES HEADER */
.shell-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BOTONES HEADER */
.ms-square-btn {
  width: 36px;
  height: 36px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;

  border: 1px solid var(--gray-200);
  border-radius: 6px;
  background: #fff;

  transition: all var(--transition-fast);
}

.ms-square-btn:hover {
  background: var(--gray-100);
  border-color: var(--gray-400);
}

.ms-square-btn fd-icon {
  font-size: 16px;
  color: var(--primary);
}
