<fd-shellbar>
  <!-- LOGO -->
  <fd-shellbar-logo>
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
  </fd-shellbar-logo>

  <!-- ACCIONES -->
  <fd-shellbar-actions>
    <!-- 🔲 MODULOS -->
    <fd-popover placement="bottom-end">
      <fd-popover-control>
        <button fd-shellbar-action fdType="transparent" class="action-btn">
          <fd-icon glyph="grid"></fd-icon>
        </button>
      </fd-popover-control>

      <fd-popover-body>
        <!-- SIN MODULOS -->
        <div *ngIf="!isLoading && filteredModules.length === 0" class="empty-modules">
  <fd-icon glyph="dimension"></fd-icon>
  <div>No tienes acceso a módulos</div>
  <small>Contacta con tu administrador</small>
</div>

        <!-- MODULOS -->
        <div class="product-grid" *ngIf="!isLoading && filteredModules.length > 0">
  <div class="product-card" *ngFor="let m of filteredModules" (click)="go(m.route)">
    <fd-icon [glyph]="m.icon" class="product-icon"></fd-icon>
    <div class="product-title">{{ m.title }}</div>
    <div class="product-subtitle">{{ m.subtitle }}</div>
  </div>
</div>
      </fd-popover-body>
    </fd-popover>

    <!-- 👤 USUARIO -->
    <fd-popover placement="bottom-end">
      <fd-popover-control>
        <button fd-shellbar-action fdType="transparent">
          <!-- 🖼️ FOTO -->
          <fd-avatar size="xs" class="fd-avatar fd-avatar--circle" [attr.aria-label]="userName">
          </fd-avatar>
        </button>
      </fd-popover-control>

      <fd-popover-body>
        <div class="user-menu">
          <!-- HEADER USUARIO -->
          <div class="user-header">
            <!-- 🖼️ FOTO GRANDE -->
            <fd-avatar
              *ngIf="userPhoto"
              [image]="userPhoto"
              size="s"
              class="fd-avatar fd-avatar--circle"
            >
            </fd-avatar>


            <div class="user-info">
              <div class="user-name">
                {{ userName }}
              </div>

              <div class="user-email" *ngIf="userEmail">
                {{ userEmail }}
              </div>

              <div class="user-role" *ngIf="userRole !== 'Sin rol'">
                {{ userRole }}
              </div>
            </div>
          </div>

          <hr />

          <!-- LOGOUT -->
          <div class="user-item" (click)="logout()">Cerrar sesión</div>
        </div>
      </fd-popover-body>
    </fd-popover>
  </fd-shellbar-actions>
</fd-shellbar>
