<fd-dynamic-page>
  <fd-dynamic-page-header title="Ficha contacto"> </fd-dynamic-page-header>

  <fd-tab-list>
    <fd-tab title="Cliente">
      <div class="tab-container">CLIENTE</div>
    </fd-tab>

    <fd-tab title="Ubicación">
      <div class="tab-container">UBICACIÓN</div>
    </fd-tab>

    <fd-tab title="Actividad">
      <div class="tab-container">ACTIVIDAD</div>
    </fd-tab>

    <fd-tab title="Patrimoniales">
      <div class="tab-container">PATRIMONIALES</div>
    </fd-tab>

    <fd-tab title="Cuentas bancarias">
      <div class="tab-container">CUENTAS BANCARIAS</div>
    </fd-tab>

    <fd-tab title="Prospectos">
      <div class="tab-container">PROSPECTOS</div>
    </fd-tab>

    <fd-tab title="Notas">
      <div class="tab-container">NOTAS</div>
    </fd-tab>
  </fd-tab-list>
</fd-dynamic-page>
