<fd-dialog>
  <!-- HEADER -->
  <!-- HEADER -->
  <fd-dialog-header>
    <h2 fd-title>Crear contacto</h2>
  </fd-dialog-header>

  <!-- BODY -->
  <fd-dialog-body>
    <form class="sap-form">
      <!-- Tipo documento -->
      <div fd-form-item>
        <label fd-form-label> Tipo documento </label>

        <fd-select [(ngModel)]="model.tipoDocumento" name="tipoDocumento">
          <fd-option *ngFor="let item of tipos" [value]="item">
            {{ item }}
          </fd-option>
        </fd-select>
      </div>

      <!-- DNI -->
      <div fd-form-item>
        <label fd-form-label> Documento </label>

        <input fd-form-control [(ngModel)]="model.dni" name="dni" />
      </div>

      <!-- Celular -->
      <div fd-form-item>
        <label fd-form-label> Celular </label>

        <fd-input-group addonText="+51" placement="before">
          <input fd-input-group-input [(ngModel)]="model.celular" name="celular" />
        </fd-input-group>
      </div>

      <!-- Nombres -->
      <div fd-form-item>
        <label fd-form-label> Nombres </label>

        <input fd-form-control [(ngModel)]="model.nombres" name="nombres" />
      </div>

      <!-- Apellidos -->
      <div fd-form-item>
        <label fd-form-label> Apellidos </label>

        <input fd-form-control [(ngModel)]="model.apellidos" name="apellidos" />
      </div>
    </form>
  </fd-dialog-body>

  >
  <!-- FOOTER -->
  <fd-dialog-footer>
    <div fd-bar barDesign="footer" class="fd-bar--footer">
      <div fd-bar-right class="footer-actions">
        <button fd-button fdType="emphasized" [disabled]="loading" (click)="guardar()">
          Guardar
        </button>

        <button fd-button fdType="transparent" [disabled]="loading" (click)="cerrar()">
          Cerrar
        </button>
      </div>
    </div>
  </fd-dialog-footer>
</fd-dialog>
