<fd-dialog>
  <fd-dialog-header>
    <h2 fd-title>Crear contacto</h2>
  </fd-dialog-header>

  <fd-dialog-body>
    <div fd-form-item>
      <label fd-form-label>Tipo de documento:</label>

      <select fd-form-control [(ngModel)]="model.tipoDocumento">
        <option *ngFor="let item of tipos" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>

    <div fd-form-item>
      <label fd-form-label>Número de documento:</label>

      <input fd-form-control [(ngModel)]="model.dni" />
    </div>

    <div fd-form-item>
      <label fd-form-label>Celular:</label>

      <fd-input-group addonText="+51">
        <input fd-input-group-input [(ngModel)]="model.celular" placeholder="980850733" />
      </fd-input-group>
    </div>

    <div fd-form-item>
      <label fd-form-label>Nombres:</label>

      <input fd-form-control [(ngModel)]="model.nombres" />
    </div>

    <div fd-form-item>
      <label fd-form-label>Apellidos:</label>

      <input fd-form-control [(ngModel)]="model.apellidos" />
    </div>
  </fd-dialog-body>

  <fd-dialog-footer>
    <button fd-button fdType="emphasized" (click)="guardar()">Guardar</button>

    <button fd-button fdType="transparent" (click)="cerrar()">Cerrar</button>
  </fd-dialog-footer>
</fd-dialog>
